<h1>Products</h1>

<div class="card">
    <div class="card-head">Lorem ipsum - product 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>

<div class="card">
    <div class="card-head">Lorem ipsum - product 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>