<h1>Dashboard</h1>

<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla officia neque repellendus aspernatur necessitatibus officiis eius. Eligendi cumque, sunt explicabo provident architecto eveniet modi debitis velit, nisi non a saepe.
    </div>
</div>
